<!DOCTYPE html>
<html>
<head>
    <title>GFT Market</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Styles/main.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/item.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/feed.css" />
    <script src="../Scripts/angular.js"type="text/javascript"></script>
    <script src="../app/app.js" type="text/javascript"></script>
</head>

<body>
    <div class="application" ng-app="main">
        <div class="header">
            <p id="app-name">GFT Market App</p>
        </div>
        <div class="market-offers" ng-controller="ItemController as ItemC">
            <div ng-repeat="object in ItemC.ItemHandlerService.itemList track by object.id">
                <item-Object item-Model="ItemC.ItemHandlerService.itemList[object.id]"></item-Object>
            </div>
        </div>
        <div class="market-feed" ng-controller="FeedController as FeedC">
            {{FeedC.dataset}}
            <button ng-click="ItemC.ItemHandlerService.pop()">Feedclick</button>
        </div>
    </div>
</body>

</html>