<!DOCTYPE html>
<html>
<head>
    <title>GFT Market</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Styles/main.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/order.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/transaction.css" />
    <link rel="stylesheet" type="text/css" href="../Styles/toastr/toastr.css" />
    <script src="../Scripts/angular.js" type="text/javascript"></script>
    <script src="../Scripts/jquery-2.2.0.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="http://localhost:53008/signalr/hubs"></script>
    <script src="../Scripts/toastr.js" type="text/javascript"></script>
    <script src="../app/app.js" type="text/javascript"></script>

</head>

<body>
    <div class="application" ng-app="main" >
        <div ng-controller="WebClientController as WebClientC">
            <div class="header">
                <p id="app-name">Market App {{WebClientC.webClient.clientId}}</p>
            </div>
        </div>
        <div class="market-offers" ng-controller="OrderController as OrderC">
            <div ng-repeat="object in OrderC.OrderHandlerService.orderList track by $index">
                <order-object order-model="object" service="OrderC.OrderHandlerService"></order-object>
            </div>
        </div>
        <div class="market-transactions" ng-controller="TransactionController as TransactionC">
            <div ng-repeat="object in TransactionC.TransactionHandlerService.transactionList track by $index">
                <transaction-object transaction-model="object" service="TransactionC.TransactionHandlerService"></transaction-object>
            </div>

        </div>
    </div>
</body>

</html>