.feed{
    position: relative;
    display: block;
    height: 60px;
    width: 550px;
    color: #999999;
    border: 1px solid #dddddd;
    margin: 0px;
    padding: 0px;
    margin-top: 1px;
    
}

#feed-name{
    display: inline-block;
    position: relative;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 20px;
}

#feed-quantity{
    display: inline-block;
    width: 50px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-right: 21px;
    color: darkgray;
}
#feed-type{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-left: 31px;
    color: orange;
}
#feed-user{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-left: 31px;
    color: orange;
}