body {
    box-sizing: border-box;
}

.item{
    position: relative;
    display: block;
    height: 60px;
    width: 405px;
    color: #999999;
    border: 1px solid #dddddd;
    margin: 0px;
    padding: 0px;
    margin-top: 1px;
}
#item-name{
    display: inline-block;
    position: relative;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 20px;
}
#item-quantity{
    width: 50px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-right: 21px;
    color: darkgray;
    
}
#item-buy {
    display: inline;
    background-color:darkturquoise;
    font-size: 19px;
    border: none;
    height: 60px;
    width: 60px;
    padding: 0px;
    margin: 0px;
    color:white;   
}
#item-sell {
    display: inline;
    background-color:darkorange;
    font-size: 19px;
    border: none;
    height: 60px;
    width: 60px;
    color:white;   
}