body {
    background-color: #eeeeee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    box-sizing: border-box;
}
#app-name{
    position: relative;
    left:30px;
    top:10px;
    font-size: 19pt;
    font-weight: 500;
    color: darkseagreen;

}
.application {
    background-color: white;
}

.header {
    position: relative;
    height: 50px;
    border-bottom: 2px solid darkseagreen;
}

.market-feed{
    display: inline-block;
    width: 550px;
    vertical-align: top;
}

.market-offers{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    
}
